{%extends 'base.html'%}

<head>
    <meta charset="UTF-8">
    <title>QnAs</title>
</head>
{%block content%}

<form action="{% url 'nspace:ask' %}" method="post">
    {% csrf_token %}
      <div class="form-group">
    <label for="askTextarea">Ask Anything</label>
    <textarea name="ques" class="form-control" id="askTextarea" rows="3" cols="1"></textarea>
  </div>



<br>

         <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Who you are</span>
  </div>
<input name="desig" type="text" aria-label="First name" class="form-control">

</div><br> <br>

     <div align="center"><button type="submit" class="btn btn-primary">ASK THIS</button></div>

</form>

{%endblock%}