{%extends 'base.html'%}

<head>
    <meta charset="UTF-8">
    <title>QnAs</title>
</head>
{%block content%}
<br>
{% for que in ques %}

    <div class="card">
  <div class="card-header">
    {{clgName}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{que.questions}}</h5>
    <p class="card-text">
  </p>

      <form action="{% url 'nspace:viewAns' ques_id=que.Qid %}?next={% url 'nspace:viewAns' ques_id=que.Qid %}" method="post">{% csrf_token %}
    <button type="submit" class="btn btn-info">View Answer(s)</button>
      </form>

      <br>

         <form action="{% url 'nspace:answer' ques_id=que.Qid %}?next={% url 'nspace:answer' ques_id=que.Qid %}" method="get" >
            <button type="submit" class="btn btn-danger">Answer</button>
      </form>

  </div>
</div><br>

{% endfor %}
{%endblock%}